* {
  box-sizing: border-box;
  margin: 0;
}

main {
  max-width: 1250px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
}

/******************* CUSTOM PROPERTIES *****************/
html {
  --primary-color: #a8b9d3dd;
  --secondary-color: #efaac9d3;
}
/******************* IKON *****************/
#ikon {
  max-width: 70px;
  position: relative;
  top: 1%;
  left: 1%;
}
/******************* HEADER OG MENU *****************/
header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--secondary-color);
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu a {
  text-decoration: none;
  color: black;
  font-family: "Varela", sans-serif;
  font-size: 1rem;
}

.menupunkter {
  list-style-type: none;
}

.menupunkter,
li {
  display: inline-block;
  padding: 1.2rem 1rem;
}

.menu a:hover {
  color: white;
}

/******************* BURGERMENU *****************/

/* header */
.banner {
  background: var(--secondary-color);
  padding: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.menu ul {
  list-style: none;
  padding: 0;

  display: flex;
  gap: 10px;
}

/* burgermenu */
.toggle-btn {
  background: transparent;
  border: none;
  min-width: 44px;
  min-height: 44px;
  font-size: 1.1rem;
  cursor: pointer;

  /* Skjuler menu-knappen når den ikke er trykket på */
  display: none;
}

@media (max-width: 600px) {
  .toggle-btn {
    /* Viser knap i mobilformat = 600px */
    display: block;
    margin-left: auto;
  }

  .menu {
    /* Fjerner den anden menu når burgermenuen vises, men viser stadig børnene */
    display: contents;
  }

  .menu ul {
    /* Fjerner menupunkterne når burger-menuen ikke bliver vist */
    display: none;
  }

  .menu.shown ul {
    /* Vis menupunkterne, når klassen ".shown" er til stede */
    border-top: 1px solid #000;

    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }
  .menu.shown ul li {
    /* Vis menu-listen, når klassen ".shown" er til stede */
    flex-flow: column;
    margin-left: auto;
  }
}

/******************* TEKST *****************/
p {
  font-family: "Varela", sans-serif;
}

h1 {
  font-family: "Varela", sans-serif;
}

h2 {
  font-family: "Varela", sans-serif;
  font-size: 1.2rem;
  font-style: italic;
}

h3 {
  font-family: "Varela", sans-serif;
  font-size: 0.8rem;
}

h4 {
  font-family: "Varela", sans-serif;
  font-size: 3rem;
  text-shadow: 5px 5px 10px var(--primary-color);
  color: white;
}

/******************* FOOTER *****************/
footer {
  font-size: 15px;
  text-align: center;
  background-color: var(--primary-color);
  color: white;
  padding-bottom: 15px;
}

.footerp {
  font-family: "Varela", sans-serif;
  max-width: none;
  position: sticky;
  font-style: italic;
  font-size: 13px;
  padding-top: 35px;
  padding-bottom: 20px;
  text-align: center;
  margin-left: 45px;
  color: white;
  margin-right: 3%;
}
.mine_fagligheder {
  padding-block: 10px;
}
/******************* LAYOUT (DESKTOP)*****************/

section {
  padding-bottom: 5px;
}

p {
  width: 65ch;
}
.link_til_tema {
  display: grid;
  font-size: 20px;
  padding-top: 30px;
}

/******************* SPLASH FORSIDE *****************/
.splash {
  background-image: url(forside/arkitektur.webp);
  height: 45.25vw;
  width: 100%;
  background-size: cover;
  background-position: 100%;
  margin: 0px;
}

.forside_tekst {
  position: absolute;
  padding: 150px;
  transform: rotate(-180deg);
}

.forside_tekst2 {
  padding: 100px;
}

/******************* OM MIG *****************/

/* .container_ommig {
  display: flex;
}
.container_ommig > * {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}
.boks2 {
  border: 2px solid black;
  padding: 60px;
  font-size: 1rem;
  width: 50ch;
}
.article {
  padding: 20px;
} */

.container_ommig {
  display: flex;
}
.PB {
  padding: 30px;
  max-width: 50%;
}

.underoverskrift {
  font-size: 2rem;
  padding: 40px;
  padding-bottom: 20px;
  max-width: 70ch;
}
.IG {
  width: 30px;
}

.boks_i_boks > * {
  font-size: 1rem;
  padding: 2px;
}

.ommig_tekst {
  padding: 15px;
  padding-top: 0;
}

/******************* 02 WEB *****************/
/*HVID CONTAINER */
.container_hvid {
  display: flex;
}

.billede_responsive_web {
  padding: 20px;
}

.flex_col1 {
  padding: 20px;
}

/*PINK CONTAINER */
.container_pink {
  display: flex;
  background-color: var(--secondary-color);
}

.kodestykke {
  padding: 36px;
}

.flex_col4 {
  padding: 30px;
}

/******************* 03 UX *****************/
/*HVID CONTAINER */
.billede_research {
  padding: 20px;
  padding-top: 20px;
}

.prototype2 {
  padding: 45px;
}

/*PINK CONTAINER */
.prototype1 {
  padding: 45px;
}

.flex_col4 {
  padding: 40px;
}

/******************* 04 ANIMATION *****************/
/*HVID CONTAINER */
.billede_rentegning {
  padding: 20px;
  padding-top: 20px;
  width: 80%;
  height: 80%;
}

.introskaerm {
  padding: 25px;
}

/*PINK CONTAINER */
.blyantskitse {
  padding: 45px;
}

.diagram {
  padding: 45px;
}

/******************* 05 INDHOLD *****************/
/*HVID CONTAINER */
.billede_premiere {
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 0;
}

.redesgin {
  padding: 25px;
}

/*PINK CONTAINER */
.pilotsite {
  padding: 45px;
}

/******************* 06 PORTFOLIO *****************/
/*HVID CONTAINER */
.inspo_layout {
  padding: 30px;
}
.colorwheel {
  padding: 20px;
}

/*PINK CONTAINER */

.inspo_temaer {
  padding: 45px;
}

.inspo_ommig {
  padding: 45px;
}

/******************* MOBIL *****************/

/******************* GENEREL FOR MOBIL *****************/

@media (max-width: 600px) {
  #ikon {
    padding: 0px 0px 0px 0px;
  }
  .menupunkter {
    padding-block: 5rem;
  }

  section {
    margin: 20px;
  }
}

p {
  width: auto;
}
img {
  width: 100%;
  height: auto;
}

.link_til_tema {
  display: grid;
  font-size: 20px;
  padding-top: 30px;
}

/******************* SPLASH MOBIL *****************/
@media (max-width: 600px) {
  .forside_tekst {
    position: absolute;
    padding: 200px;
    transform: rotate(-180deg);
    font-size: 40px;
  }

  .forside_tekst2 {
    padding: 150px;
    font-size: 40px;
  }
  .splash {
    width: 100%;
    height: 125.25vw;
  }
}

/******************* FOOTER MOBIL *****************/
@media (max-width: 600px) {
  .mit_arbejde {
    font-size: 13px;
    color: white;
  }
  .menupunkter,
  li {
    padding: 5px;
    font-size: 13px;
  }
  h3 {
    color: white;
  }

  .mit_arbejde li {
    padding: 5px;
  }
}

/******************* OM MIG MOBIL *****************/
/* @media (max-width: 600px) {
  .container_ommig > * {
    aspect-ratio: auto;
  }

  .container_ommig {
    display: grid;
  }
  .boks2 {
    order: -1;
    border: none;
    padding: 0;
    padding-left: 20px;
    width: 20ch;
  }

  .PB {
    order: 3;
    padding-top: 20px;
  }

  .ommig_tekst {
    width: auto;
  }

  .article {
    padding: 0px;
  }
} */

@media (max-width: 600px) {
  .container_ommig {
    display: flex;
  }
  .PB {
    padding-right: 30px;
    min-width: 60%;
  }

  .underoverskrift {
    font-size: 1.1rem;
    padding-block: 10px;
    padding-inline: 2px;
    padding-top: 10px;
  }
  .IG {
    width: 30px;
  }

  .boks_i_boks > * {
    font-size: smaller;
    gap: 5px;
  }

  .ommig_tekst {
    padding-bottom: 15px;
  }

  h5 {
    border-bottom: 2px solid var(--primary-color);
    width: 75px;
    font-size: 15px;
    padding-top: 20px;
  }
}

/******************* MOBIL 02-06 *****************/
@media (max-width: 600px) {
  .container_hvid {
    display: grid;
    padding: 10px;
  }
  .container_pink {
    display: grid;
    padding: 10px;
    background-color: var(--secondary-color);
    color: white;
  }

  h1 {
    padding-bottom: 15px;
  }
  .flex_col1 {
    padding-bottom: 20px;
  }
  .flex_col4 {
    padding-bottom: 20px;
  }

  .flex_col4 {
    order: -1;
  }
  .flex_col7 {
    order: -1;
  }
  section {
    margin: 1.5rem 2rem;
  }
  /*  figure {
    padding-inline: 1rem;
  } */
  .h1 {
    padding-bottom: 15px;
  }
  .h2 {
    max-width: 25ch;
    padding-bottom: 20px;
  }

  .tekst_04 {
    padding-bottom: 20px;
    padding-inline: 20px;
  }
}

h5 {
  border-bottom: 2px solid var(--primary-color);
  width: 100px;
  font-size: 1.2rem;
}

article {
  padding-top: 10px;
}
